name: Infra Build

on:
  workflow_run:
    workflows: ["Infra Security"]
    types:
      - completed

permissions:
  contents: read
  id-token: write

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Infra dependencies
        working-directory: infra
        run: npm install

      - name: Install CDKTF CLI
        run: npm install -g cdktf-cli@latest

      - name: CDKTF Synthesize
        working-directory: infra
        run: cdktf synth --no-color

      - name: Upload CDKTF output artifact
        uses: actions/upload-artifact@v3
        with:
          name: cdktf-out
          path: infra/cdktf.out