name: Infra Security

on:
  push:
    paths:
      - 'infra/**'
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  security:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Infra dependencies
        working-directory: infra
        run: npm install

      - name: Install CDKTF
        run: npm install -g cdktf-cli@latest

      - name: CDKTF Synthesize
        working-directory: infra
        run: cdktf synth --no-color

      - name: Run Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          ignore-unfixed: true
          severity: 'CRITICAL'
          skip-setup-trivy: false

      - name: Run Trivy IaC Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: 'infra/cdktf.out'
          ignore-unfixed: true
          severity: 'CRITICAL'
          skip-setup-trivy: false